.bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle at top, #7c3aed, #2563eb);
  font-family: system-ui, Arial;
}

.card {
  width: 380px;
  padding: 35px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);

  border-radius: 20px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.25);

  color: white;
  text-align: center;
}

/* Header */
.header .icon {
  font-size: 28px;
  margin-bottom: 10px;
}

.header h2 {
  margin: 0;
  font-size: 24px;
}

.header p {
  margin-top: 5px;
  opacity: 0.8;
  font-size: 13px;
}

/* Inputs */
.form {
  margin-top: 25px;
}

.input-box {
  display: flex;
  align-items: center;

  background: rgba(255,255,255,0.2);
  border-radius: 12px;

  padding: 12px;
  margin-bottom: 12px;
}

.input-box span {
  margin-right: 10px;
}

.input-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 14px;
}

.input-box input::placeholder {
  color: rgba(255,255,255,0.7);
}

/* Button */
button {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 12px;

  background: white;
  color: #4f46e5;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover {
  transform: translateY(-2px);
  background: #f3f4f6;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}