<div class="calendar-wrapper">

  <div class="calendar-card">

    <!-- Header -->
    <div class="calendar-header">

      <button class="nav-btn" (click)="prevMonth()">
        ‹
      </button>

      <h2>
        {{ getMonthName() }} {{ currentYear }}
      </h2>

      <button class="nav-btn" (click)="nextMonth()">
        ›
      </button>

    </div>

    <!-- Calendar Grid -->
    <div class="calendar-grid">

      <!-- Week Header -->
      <div class="day-tile header-tile">Sun</div>
      <div class="day-tile header-tile">Mon</div>
      <div class="day-tile header-tile">Tue</div>
      <div class="day-tile header-tile">Wed</div>
      <div class="day-tile header-tile">Thu</div>
      <div class="day-tile header-tile">Fri</div>
      <div class="day-tile header-tile">Sat</div>

      <!-- Days -->
      <ng-container *ngFor="let day of days">

        <!-- EMPTY CELL -->
        <div class="empty-tile" *ngIf="!day"></div>

        <!-- REAL TILE -->
        <div
          class="day-tile"
          *ngIf="day"

          (click)="!isWeekend(day) && !isUserAlreadyOnLeave(day) && selectDate(day)"

          [class.today]="isToday(day)"
          [class.disabled]="isUserAlreadyOnLeave(day)"
          [class.weekend]="isWeekend(day)"
        >

          <!-- Date -->
          <div class="date-number">
            {{ day.getDate() }}
          </div>

          <!-- Weekend Label -->
          <!-- <div class="weekend-label" *ngIf="isWeekend(day)">
            Weekend
          </div> -->

          <!-- Current User Leave -->
          <div class="my-leave" *ngIf="isUserAlreadyOnLeave(day)">
            Your Leave
          </div>

          <!-- Leave Preview -->
          <div class="leave-preview" *ngIf="getLeavesForDate(day).length">
            {{ getLeavesForDate(day).length }} leave(s)
          </div>

          <!-- Tooltip -->
          <div class="tooltip" *ngIf="getLeavesForDate(day).length">

            <div class="leave-chip"
                 *ngFor="let l of getLeavesForDate(day)">

              <span class="avatar">👤</span>

              <div class="leave-details">

                <div class="leave-name">
                  {{ l.name }}
                </div>

                <div class="leave-type">
                  {{ l.leaveType }}
                </div>

              </div>

            </div>

          </div>

          <!-- Lock -->
          <div class="lock-icon"
               *ngIf="isUserAlreadyOnLeave(day)">
            🔒
          </div>

        </div>

      </ng-container>

    </div>

  </div>

</div>